@-moz-document domain("underscorejs.org"), domain("backbonejs.org") {
	* {
		color:#586e75 !important;
		background:#eee8d5 !important;
	}
	
	a {
		color:#2aa198 !important;
	}
	
	code, pre, tt {
		color:#b58900 !important;
		background:#fdf6e3 !important;
	}
	
	tt {
		border:1px solid #93a1a1 !important;
	}
	
	pre {
		border-left:5px solid #93a1a1 !important;
	}
	
	a:hover {
		background:#073642 !important;
	}
}